body {
    background: mistyrose;
    color: burlywood;
    font-family: "Calibri Light";
    font-size: large;
}

button {
    background: aliceblue;
    color: burlywood;
    font-family: "Calibri Light";
    font-size: large;
}

h3 {
    color: black;
    font-family: Impact;
    font-size: medium;
}