body {
    background: mistyrose;
    color: gold;
    font-family: "Calibri Light";
    font-size: large;
}

button {
    background: aliceblue;
    color: gold;
    font-family: "Calibri Light";
    font-size: large;
}